.ctas-wrapper{
    width: 90%;
    border: 1px solid $white;
    padding: 205px 0;
    // height: calc(100vh - $headerHeight);
    margin: 0 auto;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: $white;
    }

    .cta{
        width: 50%;

        p{
            color: $dark-grey;
            font-size: 14px;
            margin-bottom: 10px;
        }

        a{
            font-size: 32px;
            color: $gold;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 100;
            position: relative;
            display: inline-flex;

            .underline{
                display:inline-block;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -2px;
                left: 0;
                background-color: $gold;
                transform-origin: 0% 50%;
                transform: scaleX(0);
                transition: transform 0.4s ease-out;
            }

            &:hover .underline{
                transform: scaleX(1);
            }
        }
    }

}