// Colors
$blue: #022873;
$green: #555934;
$white: darken(#FFFFFF, 70%);
$grey: #C7C7C7;
$dark-grey: #6c6c70;
$gold: #D9AF32;
$pink: #E72E57;

// Fonts
$para: 'Proza Libre', sans-serif;
$heading: 'Cormorant Garamond', serif;

// Measurements
$headerHeight: 7.5rem;